html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

canvas {
    width: 100%;
    max-width: 570px;
    position: absolute;
    z-index: 1;
  }

#back {
    background: red;
    /* position: absolute; */
    top: 100px;
    width: 100%;
    /* height: 100%; */
}

#star {
    display: none;
}
